---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPostMenu from '../../components/BlogPostMenu.astro';
import Pagination from '../../components/Pagination.astro';

interface MarkdownFrontmatter {
  date: number;
  image: string;
  author: any;
}

const title = 'Blog';
const description =
  'Read our blog to stay ahead of trends in Ember.js, JavaScript, and everything in between.';

// Data Fetching: List all Markdown posts in the repo.
let allPosts = await Astro.glob<MarkdownFrontmatter>('../post/*.md');
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);
---

<BaseLayout description={description} title={title}>
  <div class="blog-posts section flex flex-wrap justify-center">
    <div class="section-content">
      <div class="flex items-center">
        <h1 class="font-semibold">Ship Shape Insights</h1>

        <a
          class="-mt-3 p-12"
          href="https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fshipshape.io%2Ffeed.xml"
          target="_blank"
          rel="noopener"
        >
          <inline-svg src="/svgs/rss.svg" />
        </a>
      </div>

      <p>
        Our thoughtful ramblings about Ember.js, Nuxt.js, JavaScript, life,
        liberty and the pursuit of happiness.
      </p>

      <BlogPostMenu posts={allPosts} />
    </div>
  </div>
</BaseLayout>

<!-- <footer>
	<Pagination prevUrl="/posts" nextUrl="/posts/2" />
</footer> -->
