---
import { Icon } from 'astro-icon';
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPostMenu from '../../components/BlogPostMenu.astro';
import { MarkdownFrontmatter } from '../index.astro';

const title = 'Blog';
const description =
  'Read our blog to stay ahead of trends in Ember.js, JavaScript, and everything in between.';

// Data Fetching: List all Markdown posts in the repo.
let allPosts = await Astro.glob<MarkdownFrontmatter>('/data/posts/*.md');
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);

const feedURL = new URL('/feed/posts.xml', Astro.url);
---

<BaseLayout description={description} title={title}>
  <div class="blog-posts section flex flex-wrap justify-center">
    <div class="section-content">
      <div class="flex items-center">
        <h1 class="font-semibold text-5xl lg:text-6xl">Ship Shape Insights</h1>

        <a
          class="p-12"
          href={feedURL}
          target="_blank"
          rel="noopener"
        >
          <Icon class="h-6 mt-4 w-6" name="rss" />
        </a>
      </div>

      <p class="mb-4">
        Our thoughtful ramblings about Ember.js, Nuxt.js, JavaScript, life,
        liberty and the pursuit of happiness.
      </p>

      <BlogPostMenu posts={allPosts} />
    </div>
  </div>
</BaseLayout>
