*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply duration-200 text-red transition-all no-underline active:text-red visited:text-red focus:text-navy hover:text-navy;
}

html,
body {
  @apply m-0 p-0 overflow-x-hidden w-full;
}

body {
  @apply bg-white leading-relaxed font-light text-grey-light text-lg;
  font-family: 'Pier Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply heading;
}

@media only screen and (max-width: 600px) {
  h1 {
    @apply leading-tight text-5xl;
  }
}

.fill-white {
  path {
    fill: var(--white);
  }
}

.hero {
  padding: 2rem;
}

.learn-more {
  @apply font-normal text-navy active:text-navy visited:text-navy;

  svg {
    @apply duration-200 fill-navy ml-1 transition-all;
  }

  &:hover {
    @apply cursor-pointer text-red;

    svg {
      @apply fill-red translate-x-2;

      > * {
        fill: var(--red);
      }
    }
  }
}

.section {
  @apply px-8 py-32 lg:py-36;
}

.section-content {
  @apply max-w-8xl w-full;
}

.blob {
  position: relative;

  &::before {
    background-image: url(/svgs/contact-blob.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1800px;
    top: -225px;
    content: '';
    height: 1250px;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  @media only screen and (max-width: 1024px) {
    &::before {
      display: none;
    }
  }

  @media only screen and (min-width: 2065px) {
    &::before {
      background-size: 101vw;
      height: 1400px;
      top: -400px;
    }
  }

  @media only screen and (min-width: 2300px) {
    &::before {
      height: calc(1400px + ((100vw - 2300px) * 0.75));
      top: calc(-400px - ((100vw - 2300px) * 0.75));
    }
  }
}

.shepherd-logo {
  .lines, .open-eye, .wink {
  transition: visibility 0s, opacity 0.25s ease-in-out;
  }

  .open-eye {
    opacity: 1;
    visibility: visible !important;
  }

  .lines, .wink {
    opacity: 0;
    visibility: hidden !important;
  }

  &:hover {
    .lines, .wink {
      opacity: 1;
      visibility: visible !important;
    }

    .open-eye {
      opacity: 0;
      visibility: hidden !important;
    }
  }
}