:root {
  --inherit: inherit;
  --transparent: transparent;

  --black: #000000;
  --blue-light: #f3fafb;
  --grey: #5f6976;
  --grey-light: #647582;
  --navy: #1b3b5d;
  --navy-light: #073256;
  --navy-card-dark: #133254;
  --navy-card-light: #1b3b5e;
  --red: #ed6a5e;
  --red-light: #f9ada0;
  --tan: #f7e7c5;
  --white: #ffffff;

  // client specific branding colors
  --acquia: #31a9e1;
  --enigma-blue: #1b1d36;
  --enigma-red: #e40346;
  --expel-green: #07a75c;
  --jebbit-green: #7ec0b2;
  --netflix-red: #e50914;
  --outreach-purple: #5951ff;
  --swach-purple: #0a0038;
}
