.waves {
  position: relative;

  &::after {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 2560px;
    bottom: -95px;
    content: '';
    height: 160px;
    position: absolute;
    width: 100%;
  }

  @media only screen and (min-width: 2560px) {
    &::after {
      background-size: 101vw;
      height: 200px;
    }
  }
}

.blue-waves {
  &::after {
    background-image: url(/svgs/waves/waves.svg);
  }
}

.cloud-native-waves {
  &::after {
    background-image: url(/svgs/waves/cloud-native-waves.svg);
    background-size: 100vw;
    bottom: -20px;
    height: 200px;
  }

  @media only screen and (min-width: 1910px) {
    &::after {
      background-size: 101vw;
      bottom: -70px;
      height: 320px;
    }
  }
}

.ember-waves {
  &::after {
    background-image: url(/svgs/waves/ember-waves.svg);
    background-size: 100vw;
    bottom: -5px;
    height: 165px;
  }

  @media only screen and (min-width: 2050px) {
    &::after {
      background-size: 101vw;
      bottom: -50px;
      height: 300px;
    }
  }
}

.next-waves {
  &::after {
    background-image: url(/svgs/waves/next-waves.svg);
    background-size: 100vw;
    bottom: -20px;
    height: 165px;
  }

  @media only screen and (min-width: 2050px) {
    &::after {
      background-size: 101vw;
      bottom: -70px;
      height: 300px;
    }
  }

  @media only screen and (min-width: 3008px) {
    &::after {
      bottom: -80px;
      height: 450px;
    }
  }
}

.nuxt-waves {
  &::after {
    background-image: url(/svgs/waves/nuxt-waves.svg);
    background-size: 2050px;
    bottom: -20px;
    height: 200px;
  }

  @media only screen and (min-width: 2050px) {
    &::after {
      background-size: 101vw;
      height: 300px;
    }
  }

  @media only screen and (min-width: 3008px) {
    &::after {
      height: 330px;
    }
  }
}

.serverless-waves {
  &::after {
    background-image: url(/svgs/waves/serverless-waves.svg);
    background-size: 1910px;
    bottom: -20px;
    height: 250px;
  }

  @media only screen and (min-width: 1910px) {
    &::after {
      background-size: 101vw;
      bottom: -50px;
      height: 350px;
    }
  }
}

.tailwind-waves {
  &::after {
    background-image: url(/svgs/waves/tailwind-waves.svg);
    background-size: 2050px;
    bottom: -20px;
    height: 200px;
  }

  @media only screen and (min-width: 2050px) {
    &::after {
      background-size: 101vw;
      height: 300px;
    }
  }
}

.white-waves {
  &::after {
    background-image: url(/svgs/waves/white-waves.svg);
  }
}
