---
import BaseLayout from '../layouts/BaseLayout.astro';
import { ContactForm } from '../components/ContactForm.jsx';

let title = 'Contact';
let description = 'Contact';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<BaseLayout description={description} title={title}>
  <div
    id="contact-form"
    class="blob contact-form section waves white-waves flex w-full flex-wrap justify-center"
  >
    <div class="section-content flex flex-wrap justify-center">
      <div class="flex w-full flex-wrap items-center justify-center">
        <ContactForm />
      </div>
    </div>
  </div>
</BaseLayout>
