---
import BaseLayout from '../layouts/BaseLayout.astro';
import { ContactForm } from '../components/ContactForm';
import '../components/ContactForm.scss';

let title = 'Contact Our Software Consultants';
let description =
  "Want to improve your products and people? Contact Ship Shape's software consultants to chat about custom app development, optimization, and training.";
---

<BaseLayout description={description} title={title}>
  <div
    id="contact-form"
    class="blob contact-form section waves white-waves flex w-full flex-wrap justify-center"
  >
    <div class="section-content flex flex-wrap justify-center">
      <div class="flex w-full flex-wrap items-center justify-center">
        <div class="relative w-full">
          <div class="pt-12 lg:grid lg:grid-cols-2 lg:gap-x-64 lg:pb-64">
            <div class="w-full">
              <h1 class="text-3xl font-extrabold tracking-tight sm:text-4xl">
                Get your product in <span class="italic">ship shape</span> with support
                from our trusted software consultants
              </h1>

              <p class="mt-4 text-lg sm:mt-3">
                As a full-stack development team, our goal is to be the last
                software consultant you ever need to hire. From custom app
                development, to mentoring and training, we’re here to tackle
                your next tech challenge. Reach out to share your goals and
                learn how we can help you reach them.
              </p>
            </div>

            <ContactForm client:only="solid" />
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<!-- This is required for netlify to find the form, since SolidJS renders it at runtime. -->
<form
  name="contact-us"
  data-netlify="true"
  data-netlify-recaptcha="true"
  netlify
  netlify-honeypot="bot-field"
  hidden
>
  <input type="text" name="name" />
  <input type="text" name="email" />
  <input type="text" name="company" />
  <select id="budget" name="budget">
    <option value="25k-50k">$25,000 – $50,000</option>
    <option value="50k-100k">$50,000 – $100,000</option>
    <option value="100k-250k">$100,000 – $250,000</option>
    <option value="over_250k">$250,000+</option>
  </select>
  <textarea name="description"></textarea>
</form>
