---
import BaseLayout from '../layouts/BaseLayout.astro';
import { ContactForm } from '../components/ContactForm';

let title = 'Contact Our Software Consultants';
let description =
  "Want to improve your products and people? Contact Ship Shape's software consultants to chat about custom app development, optimization, and training.";
---

<BaseLayout description={description} title={title}>
  <div
    id="contact-form"
    class="blob contact-form section waves white-waves flex w-full flex-wrap justify-center"
  >
    <div class="section-content flex flex-wrap justify-center">
      <div class="flex w-full flex-wrap items-center justify-center">
        <ContactForm client:only="solid" />
      </div>
    </div>
  </div>
</BaseLayout>
