---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';
import BigNames from '../components/BigNames.astro';
import BuildTheFuture from '../components/BuildTheFuture.astro';
import HeroBlock from '../components/HeroBlock.astro';
import WeKnowTheRopes from '../components/WeKnowTheRopes.astro';
import WhyUsGrid from '../components/WhyUsGrid.astro';

interface MarkdownFrontmatter {
	date: number;
	image: string;
	author: string;
}

let title = 'Ship Shape';
let description = 'Test';
---

<BaseLayout description={description} title={title}>
  <div class="relative">
    <HeroBlock class="bg-blue-light home">
      <div slot="content">
        <h1 class="leading-none">Our software consultants make waves</h1>

        <div class="flex justify-center mt-3 w-full lg:justify-start lg:mt-8">
          <a href="/contact/" class="btn btn-red w-full lg:w-auto">
            Come on board
          </a>
        </div>
      </div>

      <div slot="icon">
        <img
          alt="Ship Shape octopus mascot, with a pencil in its tentacle, is working hard on Ember, Next.js and Nuxt apps."
          class="h-auto max-w-3xl w-full"
          format="webp"
          src="/img/hero-images/landing.png"
        />
      </div>
    </HeroBlock>

    <div class="relative z-10">
      <BuildTheFuture />

      <WeKnowTheRopes />

      <BigNames />

      <WhyUsGrid />
    </div>
  </div>
</BaseLayout>
