---
import { Img } from 'astro-imagetools/components';
import BaseLayout from '../layouts/BaseLayout.astro';
import BigNames from '../components/BigNames.astro';
import BuildTheFuture from '../components/BuildTheFuture.astro';
import DoubleQuotes from '../components/DoubleQuotes.astro';
import HeroBlock from '../components/HeroBlock.astro';
import RecentBlogPosts from '../components/RecentBlogPosts.astro';
import WeKnowTheRopes from '../components/WeKnowTheRopes.astro';
import WhyUsGrid from '../components/WhyUsGrid.astro';

import { sephoraTestimonial, expelTestimonial } from '../testimonials/index.js';

export interface Author {
  id: string;
  image: string;
  name: string;
}

export interface MarkdownFrontmatter {
  author: Author;
  authorId: string;
  categories: string[];
  date: string;
  description: string;
  image: string;
  slug: string;
  title: string;
}

const title = 'Top-Tier, Full-Stack Software Consultants';
const description =
  "Ship Shape's app development company offers a top-tier team of on-shore, full-stack software consultants who can't wait to build or improve your product.";

const testimonials = [sephoraTestimonial, expelTestimonial];

let posts = await Astro.glob<MarkdownFrontmatter>('/data/posts/*.md');
posts = posts
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  )
  .slice(0, 3);
---

<BaseLayout description={description} title={title}>
  <div class="relative">
    <HeroBlock heroClasses="bg-blue-light home">
      <Fragment slot="content">
        <h1 class="leading-none text-5xl lg:text-6xl">
          Our software consultants make waves
        </h1>

        <div class="flex justify-center mt-8 w-full lg:justify-start lg:mt-12">
          <a href="/contact/" class="btn btn-red w-full lg:w-auto">
            Come on board
          </a>
        </div>
      </Fragment>

      <Fragment slot="icon">
        <Img
          alt="Ship Shape octopus mascot, with a pencil in its tentacle, is working hard on Ember, Next.js and Nuxt apps."
          attributes={{
            img: {
              class: 'h-auto max-w-3xl w-full'
            }
          }}
          format="webp"
          loading="eager"
          placeholder="none"
          src="/img/hero-images/landing.png"
        />
      </Fragment>
    </HeroBlock>

    <div class="relative z-10">
      <BuildTheFuture />

      <WeKnowTheRopes />

      <BigNames />

      <WhyUsGrid />

      <DoubleQuotes testimonials={testimonials} />

      <RecentBlogPosts posts={posts} />
    </div>
  </div>
</BaseLayout>
