---
import { Img } from 'astro-imagetools/components';
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroBlock from '../components/HeroBlock.astro';

const title = 'Whiskey, Web, & Whatnot: A Software Engineering Podcast';
const description =
  'Join Ship Shape CEO Robbie Wagner and COO Chuck Carpenter for this software engineering podcast for developers who love whiskey, web development, and whatnot.';
---

<BaseLayout description={description} title={title}>
  <div itemscope itemtype="http://schema.org/Service">
    <HeroBlock hero-classes="podcast">
      <Fragment slot="content">
        <h1 itemprop="name" class="text-5xl mb-6">Whiskey Web and Whatnot</h1>
        <p>
          Join Ship Shape's CEO Robbie, and COO Chuck as they discuss whiskey,
          web development, and a wide range of whatnot.
        </p>

        <div class="flex flex-wrap">
          <a href="https://open.spotify.com/show/19jiuHAqzeKnkleQUpZxDf">
            <img
              class="h-12 mb-3 mr-3 w-auto"
              src="/svgs/spotify-podcasts.svg"
            />
          </a>
          <a
            href="https://podcasts.apple.com/us/podcast/whiskey-web-and-whatnot/id1552776603?uo=4"
          >
            <img class="h-12 w-auto" src="/svgs/apple-podcasts.svg" />
          </a>
        </div>
      </Fragment>

      <Fragment slot="icon">
        <Img
          attributes={{
            img: {
              class: 'h-auto m-auto max-w-2xl my-4 rounded-lg w-full'
            }
          }}
          format="webp"
          height={1344}
          src="/img/hero-images/www.png"
          width={1344}
          alt="Whiskey, Web, and Whatnot podcast logo"
        />
      </Fragment>
    </HeroBlock>
  </div>
</BaseLayout>
