---
import { Image } from 'astro:assets';

import BaseLayout from '../layouts/BaseLayout.astro';
import LatestPodcast from '../components/LatestPodcast.astro';

import wwwImage from '../images/hero-images/www.png';

const title = 'Whiskey, Web, & Whatnot: A Software Engineering Podcast';
const description =
  'Join Ship Shape CEO Robbie Wagner and COO Chuck Carpenter for this software engineering podcast for developers who love whiskey, web development, and whatnot.';
---

<BaseLayout description={description} title={title}>
  <div class="waves white-waves" itemscope itemtype="http://schema.org/Service">
    <div class="waves tan-waves flex flex-wrap justify-center px-8 relative">
      <div class="section-content my-8 relative z-10">
        <div class="grid grid-cols-1 grid-flow-row lg:grid-cols-2">
          <div class="pb-8 pt-2">
            <Image
              class="h-auto m-auto !max-w-md rounded-lg w-full"
              format="webp"
              height={1344}
              src={wwwImage}
              width={1344}
              alt="Whiskey, Web, and Whatnot podcast logo"
            />
          </div>

          <div class="flex flex-col justify-center">
            <h1 itemprop="name" class="font-bold text-4xl mb-6">
              Whiskey, Web, and Whatnot: a 5-star software engineering podcast
              with “spirit”
            </h1>

            <p class="mb-6">
              Pour a drink, and join Ship Shape CEO Robbie Wagner and COO Chuck
              Carpenter for a podcast for developers who love whiskey, web
              development, and a wide range of whatnot.
            </p>

            <div class="flex flex-wrap">
              <a href="https://open.spotify.com/show/19jiuHAqzeKnkleQUpZxDf">
                <img
                  alt="Button to view Whiskey Web and Whatnot on Spotify"
                  class="h-12 mb-3 mr-3 w-auto"
                  src="/svgs/spotify-podcasts.svg"
                />
              </a>
              <a
                href="https://podcasts.apple.com/us/podcast/whiskey-web-and-whatnot/id1552776603?uo=4"
              >
                <img
                  alt="Button to view Whiskey Web and Whatnot on Apple Podcasts"
                  class="h-12 w-auto"
                  src="/svgs/apple-podcasts.svg"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="section bg-white flex flex-wrap justify-center">
      <div class="section-content">
        <div class="gap-x-16 gap-y-8 grid grid-cols-1 pt-10 lg:grid-cols-2">
          <div class="flex justify-center items-center lg:justify-start">
            <div>
              <h3 class="text-2xl">Past topics include:</h3>

              <ul class="list-disc mt-4">
                <li class="ml-8 my-4">Updates to Ember, Glimmer, and more</li>

                <li class="ml-8 my-4">DevOps</li>

                <li class="ml-8 my-4">
                  Tastings of our top whiskey picks (like Sagamore and Maker’s
                  Mark Cask edition) and new-to-us varieties (Kamiki, Rabbit
                  Hole Dareringer, and others with cool bottles and hard names)
                </li>

                <li class="ml-8 my-4">
                  Random tangents, like what Chuck learned during his past life
                  as a blackjack dealer, Nintendo and PC games we’re digging,
                  and current events in tech that caught our attention
                </li>
              </ul>
            </div>
          </div>

          <div class="flex justify-center items-center lg:justify-end">
            <Image
              alt="Collage of icons related to whiskey, web, and whatnot"
              class="!max-w-md"
              format="webp"
              height={696}
              src="/img/podcast-collage.png"
              width={828}
            />
          </div>
        </div>
      </div>

      <div class="section-content border-t border-[#D8E3E8] mt-12">
        <LatestPodcast />
      </div>
    </section>
  </div>
</BaseLayout>
