---
import { Icon } from 'astro-icon';
export interface Props {
  benefits: { description: string; iconName: string }[];
}

const { benefits } = Astro.props as Props;
---

<ul
  class={`
  divide-grey-light
  divide-y
  grid
  grid-cols-1
  my-20
  text-white
  lg:divide-x
  lg:divide-y-0
  lg:grid-cols-${benefits.length}
  `}
>
  <!-- should cards be separate component? -->
  {
    benefits.map((benefit, index) => (
      <li class="flex flex-col items-center px-16">
        <Icon
          class={`h-20 inline-block mb-8 w-auto ${
            index > 0 ? 'mt-12  lg:mt-0' : null
          }`}
          name={benefit.iconName}
        />

        <p class="mb-12 text-center lg:m-0 lg:w-40">{benefit.description}</p>
      </li>
    ))
  }
</ul>
