.bot-field {
  display: none;
}

.contact-form {
  .error-input {
    box-shadow: 0px 0px 2px 1px var(--red);
  }

  .error-message {
    @apply text-red text-sm;
  }
}

.flash__wrapper,
.flash__message {
  flex: 1 0 auto;
  margin: 0 !important;
  text-align: center;
}
