<h2 class="mb-12 text-4xl text-center w-full">
  Making a massive impact, one line of code at a time
</h2>

<div class="gap-5 grid grid-cols-1 lg:grid-cols-3">
  <div class="bg-blue-light p-12">
    <div class="font-bold mb-12 text-8xl text-center text-red w-full">25</div>

    <p class="text-center w-full">custom apps developed over 7 years</p>
  </div>

  <div class="bg-blue-light p-12">
    <div class="font-bold mb-12 text-8xl text-center text-red w-full">30</div>

    <p class="text-center w-full">
      engagements with enterprise app development teams
    </p>
  </div>

  <div class="bg-blue-light p-12">
    <div class="font-bold mb-12 text-8xl text-center text-red w-full">100+</div>

    <p class="text-center w-full">software developers coached and trained</p>
  </div>
</div>
