---
import LatestBlogPost from './LatestBlogPost.astro';
import LatestPodcast from './LatestPodcast.astro';
---

<section
  class="section flex flex-wrap justify-center bg-white"
  data-aos="fade-down"
>
  <div class="section-content flex flex-col divide-y-2 divide-[#D8E3E8]">
    <slot />

    <div>
      <LatestPodcast />

      <LatestBlogPost />
    </div>
  </div>
</section>
