---
import { Icon } from 'astro-icon';
import { Img } from 'astro-imagetools/components';
---

<nav
  class="bg-transparent flex justify-center w-full"
  aria-label="header-navigation"
>
  <div
    class="flex items-center justify-between flex-wrap p-6 max-w-8xl w-full z-20 lg:px-0"
  >
    <div class="flex flex-no-shrink items-center pr-2 pt-2">
      <a href="/" class="logo inline-flex items-center" itemprop="url">
        <div
          class="inline-block"
          itemprop="logo"
          itemscope
          itemtype="https://schema.org/ImageObject"
          itemid="shipshapelogo"
        >
          <Img
            alt="Ship Shape Logo"
            attributes={{
              img: {
                class: '!h-[50px] w-auto',
                itemprop: 'url'
              }
            }}
            height={100}
            format="webp"
            placeholder="none"
            src="/img/logo.png"
            width={100}
          />
          <meta itemprop="height" content="128" />
          <meta itemprop="width" content="128" />
        </div>
        <div class="font-medium text-3xl text-navy" itemprop="name">
          Ship Shape
        </div>
      </a>
    </div>

    <div class="block lg:hidden">
      <button
        aria-label="Open navigation menu"
        class="flex items-center px-3 py-2 text-grey hover:text-navy text-xl"
        onclick="toggleNavMenu(true)"
      >
        <Icon class="hamburger-menu" name="menu" />
      </button>
    </div>

    <div class="nav-links hidden z-50 lg:flex">
      <div class="lg:flex lg:flex-grow lg:justify-end">
        <div class="flex lg:hidden justify-end m-4">
          <button
            aria-label="Close navigation menu"
            class="cursor-pointer"
            onclick="toggleNavMenu(false)"
          >
            <Icon class="h-10 m-2 p-2 w-10" name="close" />
          </button>
        </div>

        <a
          class="nav-link"
          href="/services/"
          rel="prefetch"
          onclick="toggleNavMenu(false)"
        >
          Services
        </a>

        <a
          class="nav-link"
          href="/work/"
          rel="prefetch"
          onclick="toggleNavMenu(false)"
        >
          Work
        </a>

        <a
          class="nav-link"
          href="/about/"
          rel="prefetch"
          onclick="toggleNavMenu(false)"
        >
          About
        </a>

        <a
          class="nav-link"
          href="/blog/"
          rel="prefetch"
          onclick="toggleNavMenu(false)"
        >
          Blog
        </a>

        <a
          class="nav-link contact-link"
          href="/contact/"
          rel="prefetch"
          onclick="toggleNavMenu(false)"
        >
          Contact
        </a>
      </div>
    </div>
  </div>
</nav>

<script is:inline>
  // eslint-disable-next-line
  function toggleNavMenu(open) {
    const mobileNavShown = window.innerWidth < 1024;
    if (mobileNavShown) {
      const navLinks = document.querySelector('.nav-links');

      if (open) {
        navLinks.classList.remove('hidden');
        document.body.style.position = 'fixed';
      } else {
        navLinks.classList.add('hidden');
        document.body.style.position = '';
      }
    }
  }
</script>

<style lang="scss">
  .hamburger-menu {
    height: 36px;
    width: 36px;
  }

  .logo {
    word-spacing: -5px;
  }
</style>
