---
import { Img } from 'astro-imagetools/components';
---

<nav class="bg-transparent flex justify-center w-full">
  <div
    class="
      flex
      items-center
      justify-between
      flex-wrap
      p-6
      max-w-8xl
      w-full
      z-20
      lg:px-0
    "
  >
    <div class="flex flex-no-shrink items-center pr-2 pt-2">
      <a href="/" class="logo inline-flex items-center" itemprop="url">
        <div
          class="inline-block"
          itemprop="logo"
          itemscope
          itemtype="https://schema.org/ImageObject"
          itemid="shipshapelogo"
        >
          <Img
            alt="Ship Shape Logo"
            attributes={{
              img: {
                class: '!h-[50px] w-auto',
                itemprop: 'url',
              }
            }}
            height={100}
            format="webp"
            placeholder="none"
            src="/img/logo.png"
            width={100}
          />
          <meta itemprop="height" content="128" />
          <meta itemprop="width" content="128" />
        </div>
        <div class="font-medium text-3xl text-navy" itemprop="name">Ship Shape</div>
      </a>
    </div>

    <div class="block lg:hidden">
      <button
        aria-label="Open navigation menu"
        class="flex items-center px-3 py-2 text-grey hover:text-navy text-xl"
        onclick="toggleNavMenu(true)"
      >
        <svg
          class="hamburger-menu"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 512 512"
          style="enable-background:new 0 0 512 512;"
          xml:space="preserve"
        >
          <g>
            <path
              d="M491.318,235.318H20.682C9.26,235.318,0,244.577,0,256s9.26,20.682,20.682,20.682h470.636
			c11.423,0,20.682-9.259,20.682-20.682C512,244.578,502.741,235.318,491.318,235.318z"
            ></path>
          </g>
          <g>
            <path
              d="M491.318,78.439H20.682C9.26,78.439,0,87.699,0,99.121c0,11.422,9.26,20.682,20.682,20.682h470.636
			c11.423,0,20.682-9.26,20.682-20.682C512,87.699,502.741,78.439,491.318,78.439z"
            ></path>
          </g>
          <g>
            <path
              d="M491.318,392.197H20.682C9.26,392.197,0,401.456,0,412.879s9.26,20.682,20.682,20.682h470.636
			c11.423,0,20.682-9.259,20.682-20.682S502.741,392.197,491.318,392.197z"></path>
          </g>
        </svg>
      </button>
    </div>

    <div class="nav-links hidden z-50 lg:flex">
      <div class="lg:flex lg:flex-grow lg:justify-end">
        <div class="flex lg:hidden justify-end m-4">
          <button
            aria-label="Close navigation menu"
            class="cursor-pointer"
            onclick="toggleNavMenu(false)"
          >
            <svg
              class="h-10 m-2 p-2 w-10"
              enable-background="new 0 0 47.971 47.971"
              viewBox="0 0 47.971 47.971"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="m28.228 23.986 18.864-18.864c1.172-1.171 1.172-3.071 0-4.242-1.172-1.172-3.07-1.172-4.242 0l-18.864 18.864-18.865-18.864c-1.172-1.172-3.07-1.172-4.242 0-1.172 1.171-1.172 3.071 0 4.242l18.865 18.864-18.865 18.864c-1.172 1.171-1.172 3.071 0 4.242.586.585 1.354.878 2.121.878s1.535-.293 2.121-.879l18.865-18.864 18.864 18.864c.586.586 1.354.879 2.121.879s1.535-.293 2.121-.879c1.172-1.171 1.172-3.071 0-4.242z"
              ></path></svg
            >
          </button>
        </div>

        <a class="nav-link" href="/services/" onclick="toggleNavMenu(false)">
          Services
        </a>

        <a class="nav-link" href="/work/" onclick="toggleNavMenu(false)">
          Work
        </a>

        <a class="nav-link" href="/about/" onclick="toggleNavMenu(false)">
          About
        </a>

        <a class="nav-link" href="/blog/" onclick="toggleNavMenu(false)">
          Blog
        </a>

        <a
          class="nav-link contact-link"
          href="/contact/"
          onclick="toggleNavMenu(false)"
        >
          Contact
        </a>
      </div>
    </div>
  </div>
</nav>

<script>
  function toggleNavMenu(open) {
    const mobileNavShown = window.innerWidth < 1024;
    if (mobileNavShown) {
      const navLinks = document.querySelector('.nav-links');

      if (open) {
        navLinks.classList.remove('hidden');
        document.body.style.position = 'fixed';
      } else {
        navLinks.classList.add('hidden');
        document.body.style.position = '';
      }
    }
  }
</script>

<style lang="scss">
  .hamburger-menu {
    height: 36px;
    width: 36px;
  }

  .logo {
    word-spacing: -5px;
  }
</style>
