---
import { Icon } from 'astro-icon';

const year = new Date().getFullYear();
---

<footer class="bg-navy pt-24 text-base">
  <div class="footer-bottom flex flex-wrap w-full justify-center">
    <div class="max-w-8xl p-8 w-full">
      <div class="flex justify-center lg:justify-start w-full">
        <Icon class="footer-logo h-20 w-20" name="logo" />
      </div>

      <nav
        class="grid grid-cols-2 max-w-5xl pt-12 pb-12 w-full lg:grid-cols-4"
        aria-label="footer-navigation"
      >
        <div class="p-8 lg:p-4">
          <div
            class="font-bold mb-8 text-white text-xl md:text-2xl lg:text-3xl"
          >
            Services
          </div>

          <a
            class="block leading-6 py-2 lg:py-1"
            href="/services/app-development/"
            rel="prefetch"
          >
            App Development
          </a>

          <a
            class="block leading-6 py-2 lg:py-1"
            href="/services/mentoring/"
            rel="prefetch"
          >
            Mentoring
          </a>

          <a
            class="block leading-6 py-2 lg:py-1"
            href="/services/open-source/"
            rel="prefetch"
          >
            Open Source
          </a>
        </div>

        <div class="p-8 lg:p-4">
          <div
            class="font-bold mb-8 text-white text-xl md:text-2xl lg:text-3xl"
          >
            Specialties
          </div>

          <a
            class="block leading-6 py-2 lg:py-1"
            href="/services/app-tours/"
            rel="prefetch"
          >
            App Tours
          </a>

          <a
            class="block leading-6 py-2 lg:py-1"
            href="/services/next-consulting/"
            rel="prefetch"
          >
            Next.js Consulting
          </a>

          <a
            class="block leading-6 py-2 lg:py-1"
            href="/services/ember-consulting/"
            rel="prefetch"
          >
            Ember Consulting
          </a>

          <a
            class="block leading-6 py-2 lg:py-1"
            href="/services/nuxt-consulting/"
            rel="prefetch"
          >
            Nuxt.js Consulting
          </a>
        </div>

        <div class="p-8 lg:p-4">
          <div
            class="font-bold mb-8 text-white text-xl md:text-2xl lg:text-3xl"
          >
            Company
          </div>

          <a href="/about/" class="block leading-6 py-2 lg:py-1" rel="prefetch">
            About
          </a>

          <a href="/work/" class="block leading-6 py-2 lg:py-1" rel="prefetch">
            Work
          </a>

          <a href="/blog/" class="block leading-6 py-2 lg:py-1" rel="prefetch">
            Blog
          </a>

          <a
            class="block leading-6 py-2 lg:py-1"
            href="/whiskey-web-and-whatnot-podcast/"
            rel="prefetch"
          >
            Podcast
          </a>
        </div>

        <div class="p-8 w-full lg:p-4">
          <div
            class="font-bold mb-8 text-white text-xl md:text-2xl lg:text-3xl"
          >
            Connect
          </div>

          <a
            class="block leading-6 py-2 lg:py-1"
            href="/contact/"
            rel="prefetch"
          >
            Contact</a
          >

          <a
            href="https://github.com/shipshapecode"
            class="block leading-6 py-2 lg:py-1"
          >
            GitHub
          </a>

          <a
            href="https://twitter.com/shipshapecode"
            class="block leading-6 py-2 lg:py-1"
          >
            Twitter
          </a>

          <a
            href="https://www.linkedin.com/company/ship-shape/"
            class="block leading-6 py-2 lg:py-1"
          >
            LinkedIn
          </a>
        </div>
      </nav>

      <div
        class="flex flex-wrap items-center justify-center w-full lg:justify-start"
      >
        <div class="flex justify-center w-full lg:justify-start">
          <div class="social-links flex items-center pl-2 pr-2 justify-start">
            <a
              aria-label="GitHub"
              class="group p-2"
              href="https://github.com/shipshapecode"
            >
              <Icon
                class="h-[22px] w-[23px] child:fill-white child:transition-colors group-focus:child:fill-red-light group-hover:child:fill-red-light"
                name="github"
              />
            </a>
            <a
              aria-label="Twitter"
              class="group p-2"
              href="https://twitter.com/shipshapecode"
            >
              <Icon
                class="h-[19px] w-[23px] child:fill-white child:transition-colors group-focus:child:fill-red-light group-hover:child:fill-red-light"
                name="twitter"
              />
            </a>
            <a
              aria-label="LinkedIn"
              class="group p-2"
              href="https://www.linkedin.com/company/ship-shape/"
            >
              <Icon
                class="h-[20px] w-[19px] child:fill-white child:transition-colors group-focus:child:fill-red-light group-hover:child:fill-red-light"
                name="linkedin"
              />
            </a>
          </div>
        </div>

        <div class="flex flex-wrap p-4 text-white">
          Copyright © {year} Ship Shape Consulting LLC. All rights reserved.
        </div>
      </div>
    </div>
  </div>
</footer>

<style lang="scss" is:global>
  .footer-logo {
    path {
      @apply fill-white stroke-white;
      stroke-width: 1.25rem;
    }
  }

  .footer-bottom {
    a {
      @apply font-bold text-white focus:text-red-light hover:text-red-light;
    }
  }
</style>
