---
import { ShepherdTabs } from './ShepherdTabs';
---

<div class="section flex flex-wrap justify-center">
  <div class="section-content">
    <h2>Why use Shepherd?</h2>

    <ShepherdTabs />
  </div>
</div>
