---
import { Img } from 'astro-imagetools/components';
import { Icon } from 'astro-icon';

import BaseLayout from '../../layouts/BaseLayout.astro';
import BottomLinks from '../../components/BottomLinks.astro';
import SingleQuote from '../../components/SingleQuote.astro';

import { enigmaTestimonial as testimonial } from '../../testimonials/index.js';

const title = 'Enigma Next.js Assesment Platform';
const description =
  "The Enigma assessment application was in need of Next.js development help. See how Ship Shape's enterprise app development experts created a production-ready Next.js application.";
---

<BaseLayout description={description} title={title}>
  <div class="bg-enigma-red flex flex-wrap justify-center mt-6 w-full lg:pt-24">
    <div class="max-w-8xl overflow-hidden p-6 pb-0 relative w-full lg:p-0">
      <h1 class="hidden text-4xl lg:text-6xl">Enigma</h1>

      <Icon
        class="fill-white h-auto mt-6 px-6 lg:w-1/3"
        name="clients/enigma"
      />

      <p class="mb-6 mt-2 px-6 text-lg text-white">Case Study</p>

      <section
        class="bg-white p-10 right-0 rounded-md shadow-lg top-48 lg:absolute lg:w-[383px]"
      >
        <h2 class="mb-4 text-md">Value Delivered:</h2>

        <ul>
          <li class="list-none flex items-center p-3 w-full">
            <div class="h-14 flex items-center w-14">
              <Icon class="h-auto w-full" name="icons/speed" />
            </div>

            <div class="ml-7">Accelerated Enigma's time to market</div>
          </li>

          <li class="list-none flex items-center p-3 w-full">
            <div class="h-14 flex items-center w-14">
              <Icon class="h-auto p-1 w-full" name="icons/chart" />
            </div>

            <div class="ml-7">
              Increased scalability of the overall platform
            </div>
          </li>

          <li class="list-none flex items-center p-3 w-full">
            <div class="h-14 flex items-center w-14">
              <Icon class="h-auto w-full" name="icons/mentor" />
            </div>

            <div class="ml-7">Mentored new hires in Next.js best practices</div>
          </li>
        </ul>
      </section>

      <Img
        alt="A detailed overview of all candidate assessment results"
        attributes={{
          img: {
            class:
              '-mb-12 mt-24 rounded-t-md w-full lg:!max-w-[1250px] lg:-mb-24'
          }
        }}
        format="webp"
        placeholder="none"
        src="/img/work/enigma/enigma-hirer-results.png"
      />
    </div>
  </div>

  <section class="section flex flex-wrap justify-center" data-aos="fade-down">
    <div class="section-content">
      <h2 class="mb-6 text-4xl">In their words</h2>

      <SingleQuote testimonial={testimonial} />
    </div>
  </section>

  <section class="section flex flex-wrap justify-center" data-aos="fade-down">
    <div class="section-content">
      <h2 class="text-4xl mb-6">About the Client</h2>

      <div class="gap-12 grid grid-cols-1 lg:grid-cols-2">
        <div class="order-2 lg:order-1">
          <p>
            <a href="https://www.askenigma.com/">Enigma</a> is a platform designed
            to help cybersecurity teams make faster hiring decisions and find stronger,
            more diverse talent. Through this web application, employers can create
            and assign technical assessments to candidates to ascertain their level
            of competency with key cybersecurity concepts and industry best practices.
          </p>

          <p>
            Once a candidate has completed an assessment through the Enigma
            platform, employers can review their responses and overall
            performance and then use these findings to better evaluate the
            candidate’s application.
          </p>
        </div>

        <div
          class="flex items-center justify-center order-1 lg:justify-end lg:order-2"
        >
          <Icon
            class="h-auto max-w-lg w-full child:fill-enigma-red"
            name="clients/enigma"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="section flex flex-wrap justify-center" data-aos="fade-down">
    <div class="section-content">
      <h2 class="text-4xl mb-6">Challenge</h2>

      <p class="mb-12">
        The Enigma assessment application was in a very raw proof of concept
        state when Ship Shape was brought in to act as the development team that
        would create a production-ready product. Enigma already had customers
        signed up and ready to start utilizing the application for their
        recruiting needs, but still had a substantial roadmap of features in
        need of implementation. Ship Shape’s challenge was to implement
        essential features, including the full assessment workflow and
        corresponding administrative tasks, in order to launch Enigma. We
        continued to help build out the application based on customers’ feedback
        about their additional needs.
      </p>

      <div class="bg-enigma-red flex justify-center lg:flex-1 rounded-md">
        <div class="pl-4 pr-4 pt-4 lg:pl-12 lg:pr-12 lg:pt-12">
          <Img
            alt="The Enigma login page"
            attributes={{
              img: {
                class: 'flex rounded-t-md'
              }
            }}
            format="webp"
            placeholder="none"
            src="/img/work/enigma/enigma-login.png"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="section flex flex-wrap justify-center" data-aos="fade-down">
    <div class="section-content">
      <h2 class="text-4xl mb-6">Solution</h2>

      <h3 class="text-2xl mb-6">Next.js</h3>

      <p>
        The development team made use of
        <a href="/https://nextjs.org/">Next.js</a> to prioritize quick loading times
        on the client side of this application. The server-side rendering capabilities
        of Next.js allow the Enigma application to retrieve web pages and any corresponding
        data in one go, eliminating the need for multiple network requests and preventing
        subsequent delays in data population.
      </p>

      <div class="lg:flex lg:my-14">
        <div class="lg:mr-12 lg:w-1/2">
          <h3 class="text-2xl mb-6">Shepherd Tour</h3>

          <p>
            The Ship Shape team also had the opportunity to integrate one of our
            own open source projects,
            <a href="https://shepherdjs.dev/docs/">Shepherd</a>, into the Enigma
            platform. The Shepherd library provides a way to guide users through
            a tour of a web application, highlighting the key features users
            should familiarize themselves with, in order to use the app at its
            full potential.
          </p>
        </div>

        <div class="lg:w-1/2">
          <figure>
            <Img
              alt="An implementation of a Shepherd tour for the Enigma hirer dashboard"
              attributes={{
                img: {
                  class: 'bg-enigma-red pl-4 pr-4 pt-4 rounded-md'
                }
              }}
              format="webp"
              placeholder="none"
              src="/img/work/enigma/enigma-hirer-assessment-tour.png"
            />
            <figcaption class="italic text-sm">
              Example Shepherd.js tour
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="flex flex-col-reverse my-14 md:flex-row">
        <div class="lg:w-1/2">
          <figure>
            <Img
              alt="A detailed overview of a cybersecurity assessment"
              attributes={{
                img: {
                  class: 'bg-enigma-red pl-4 pr-4 pt-4 rounded-md'
                }
              }}
              format="webp"
              placeholder="none"
              src="/img/work/enigma/enigma-hirer-assessment-detail.png"
            />
            <figcaption class="italic text-sm">
              User flow of assessment
            </figcaption>
          </figure>
        </div>
        <div class="lg:ml-12 lg:w-1/2">
          <h3 class="text-2xl mb-6">Cypress Testing</h3>

          <p>
            The development team also incorporated
            <a href="https://www.cypress.io/">Cypress</a>, an integration
            testing framework, into the Enigma application. This end-to-end
            testing technology allowed the development team to deliver features
            to users with confidence that critical tasks aren’t disrupted by
            bugs.
          </p>
        </div>
      </div>

      <h3 class="text-2xl mb-6">Key Application Features</h3>

      <p>
        In order to successfully launch this unique cybersecurity assessment
        tool, the Enigma and Ship Shape development teams focused on
        implementing the following key features and workflows:
      </p>

      <ul class="ml-6">
        <li class="list-disc">
          Authentication processes that allow candidates and employers to
          securely access their respective accounts
        </li>
        <li class="list-disc">
          A candidate's ability to work through assessments assigned by
          potential employers
        </li>
        <li class="list-disc">
          An employer's ability to create, view, assign, archive, and delete
          assessments and candidate assessment attempts
        </li>
        <li class="list-disc">
          An optional package that would allow employers to assign a
          supplemental personality evaluation that would accompany a candidate's
          overall job application
        </li>
      </ul>
    </div>
  </section>

  <section class="section flex flex-wrap justify-center" data-aos="fade-down">
    <div class="section-content">
      <h2 class="text-4xl mb-6">Outcome</h2>

      <div class="bg-enigma-red flex justify-center lg:flex-1 rounded-md">
        <div class="pl-4 pr-4 pt-4 lg:pl-12 lg:pr-12 lg:pt-12">
          <Img
            alt="A detailed overview of all candidate assessment results"
            attributes={{
              img: {
                class: 'flex'
              }
            }}
            format="webp"
            placeholder="none"
            src="/img/work/enigma/enigma-hirer-results.png"
          />
        </div>
      </div>
      <p class="pt-6">
        Ship Shape’s main priority was to successfully build and launch a
        feature rich application according to the client’s schedule, and we’re
        happy to report that we met this target! The Ship Shape crew had a great
        experience working with the Enigma team to get a production-ready
        product off the ground.
      </p>

      <BottomLinks
        nextLink="/work/netflix/"
        nextLinkText="Netflix"
        previousLink="/work/acquia/"
        previousLinkText="Acquia"
      />
    </div>
  </section>
</BaseLayout>
