---
import { Img } from 'astro-imagetools/components';

import BaseLayout from '../../layouts/BaseLayout.astro';
import CaseStudiesList from '../../components/CaseStudiesList.astro';
import ClientsGrid from '../../components/ClientsGrid.astro';
import HeroBlock from '../../components/HeroBlock.astro';
import ImpactStats from '../../components/ImpactStats.astro';
import ReadyFooter from '../../components/ReadyFooter.astro';

const title = 'Our Work - Enterprise Custom App Development';
const description =
  "Looking for strategic enterprise app development or custom app development support? Learn how Ship Shape's software developers can help.";
---

<BaseLayout description={description} title={title}>
  <HeroBlock heroClasses="services waves blue-waves bg-blue-light !pb-20">
    <Fragment slot="content">
      <h1 class="leading-none text-4xl lg:text-6xl">
        <p>Better Products.</p>
        <p>Better People.</p>
        <p>Better Payoff.</p>
      </h1>

      <div>
        <div class="flex justify-center mt-8 w-full lg:justify-start lg:mt-12">
          <a class="btn btn-red w-full lg:w-auto" href="/contact/">
            Get these results
          </a>
        </div>
      </div>
    </Fragment>

    <Fragment slot="icon">
      <Img
        attributes={{
          img: {
            class: 'h-auto m-auto max-w-2xl w-full'
          }
        }}
        height={1020}
        format="webp"
        loading="eager"
        placeholder="none"
        src="/img/hero-images/services.png"
        width={1344}
        alt=""
      />
    </Fragment>
  </HeroBlock>

  <div class="bg-white flex flex-wrap justify-center pt-20">
    <div class="section-content">
      <div class="grid grid-cols-1 mt-32 w-full lg:grid-cols-2 lg:mt-36">
        <div>
          <h1 class="mb-8 text-4xl lg:text-5xl">
            Let’s get your enterprise app in
            <span class="italic">ship shape</span>
          </h1>

          <p class="max-w-3xl">
            Whether you’re charting a new course for engineering success or
            saving an app that’s capsized, our software developers are here to
            strengthen your products <span class="italic">and</span> your people.
            Together, we’ll solve your most complex challenges, reach your destination
            with ease, and grow your team’s knowledge along the way.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section bg-white flex flex-wrap justify-center">
    <div class="section-content">
      <ImpactStats />
    </div>
  </div>

  <div class="section flex flex-wrap justify-center">
    <div class="section-content">
      <h2 class="mb-12 text-4xl lg:text-5xl">A peek at our past work</h2>

      <h3 class="mb-8 text-2xl lg:text-4xl">Case studies:</h3>

      <CaseStudiesList />

      <ClientsGrid />
    </div>
  </div>

  <div class="section bg-navy flex flex-wrap justify-center">
    <div class="section-content">
      <h2 class="mb-8 text-4xl text-white lg:text-5xl">
        Giving back for the greater good
      </h2>

      <p class="text-white">
        Our team does this work for passion, not just for profit. The developer
        community has helped us grow into the people we are today, and we’re
        committed to giving back even more than we’ve gained.
      </p>

      <div class="gap-5 grid grid-cols-1 mt-12 lg:grid-cols-3">
        <div class="bg-blue-light p-5 rounded-md lg:p-12">
          <h3>Ember.js DC</h3>

          <p>
            We organize the Ember.JS DC meetup, and we try to spread the love
            throughout Virginia and Maryland as well, alternating meeting spots.
            If you are an Ember enthusiast, of any level, we would love to have
            you come learn with us!
          </p>
        </div>
        <div class="bg-blue-light p-5 rounded-md lg:p-12">
          <h3>Shepherd.js</h3>

          <p>
            As a part of our mission to create open source JavaScript Libraries,
            that can be used for common web app uses, Ship Shape created
            Shepherd.js. Shepherd.js guides users through a tour of your app and
            is currently implemented and trusted by brands like Google, Ally and
            more.
          </p>
        </div>
        <div class="bg-blue-light p-5 rounded-md lg:p-12">
          <h3>Ember Cares</h3>

          <p>
            We spearheaded the efforts behind Ember Cares in 2017, where we
            created a No Shave November Tomster and Breast Cancer Awareness Zoey
            and sold merch to raise money for the Cancer Research Institute.
          </p>
        </div>
      </div>
    </div>
  </div>

  <ReadyFooter>
    <Fragment slot="heading">Ready to make waves with our crew?</Fragment>

    <Fragment slot="text">
      Get in touch to tell us your goals and chat about how we can help you get
      there.
    </Fragment>
  </ReadyFooter>
</BaseLayout>
